*{
    background-color:   #fce4ec;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: rgb(0, 0, 0);
    font-size: 50px;
}

section{
min-height: 100vh;
background-image: url('background.jpg');
background-size: cover;
}
.container{
padding-top: 4%;
}

.row{
display: flex;
align-items: center;
justify-content: center;
}
.box{
width: 150px;
height: 150px;
z-index: 10;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
animation: 2s scale linear;
}
#box1{
transform-origin: bottom right;
border-radius: 0px 100px 0px 100px;
background: linear-gradient(160deg, #f485bb 0%, #ffb0ca 100%);
}
#box2{
transform-origin: bottom left;
border-radius: 100px 0px 100px 0px;
background: linear-gradient(160deg, #f485bb 0%, #ffb0ca 100%);
}
#box3{
transform-origin: top right;
border-radius: 100px 0px 100px 0px;
background: linear-gradient(160deg, #f485bb 0%, #ffb0ca 100%);
}
#box4{
transform-origin: top left;
border-radius: 0px 100px 0px 100px;
background: linear-gradient(160deg, #f485bb 0%, #ffb0ca 100%);
}

.circle{
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background: #fff894;
  z-index: 100;
  margin-top: -298px;
}
.line{
background: #95cd95d9;
margin-top: -130px;
width: 25px;
height: 310px;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.pot{
background: #7a2828;
border-radius: 0px 0px 40px 40px;
width: 250px;
height: 100px;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
@keyframes scale {
0% {
  scale: 0.1;
}
100% {
  scale: 1;
}
}

.my-button {
    margin-top: 10px; 
    padding: 20px 30px;
    font-size: 26px;
    background-color: #ffb0ca;
    color: #000000; 
    border: none;
    border-radius: 5px;
    cursor:pointer;
}



  .corner-image {
    position: absolute;
    width: 200px;
    height: 200px; 
}

.top-left {
    top: 0;
    left: 0;
}

.top-right {
    top: 0;
    right: 0;
}

.bottom-left {
    bottom: 0;
    left: 0;
}

.bottom-right {
    bottom: 0;
    right: 0;
}

